maindetail {
    display: flex;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
  }

  article {
    flex: 3;
    padding-right: 20px;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  

  .btn-dblog{
    border-radius: 5px;
    width: 120px;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    background-color: var(--secondaryColor);
    color: #fff;
  }

  article h1 {
    font-size: 24px;
    margin-top: 0;
  }
  

  .tahun-terbit{
    margin-top: 5px;
  }
  article p {
    margin: 50px 0;
    line-height: 1.6;
  }
  
  article img {
    object-fit: cover;
    width: 100%;
    height: 400px;
    margin: 20px 0;
  }

  aside {
    flex: 1;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  aside ul {
    list-style: none;
    padding: 0;
  }
  
  aside ul li {
    margin: 10px 0;
  }
  
  aside ul li a {
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
  }