:root {
    --maincolor : #F8D571;
    --secondaryColor : #F29762;
     --acsentColor : #32A5BB; 
  }
  
  .body-shelter{
      font-family: "Montserrat", sans-serif;
      background-color: #fff;
    }
  
    .montserrat{
      font-family: "Montserrat", sans-serif;
      font-optical-sizing: auto;
      font-style: normal;
    }
  
  .navbar{
    font-size: 15px;
  }
  
  .navbar-serch{
    align-content: center;
    height: 50px;
    background-color: var(--maincolor);
  }

  .navbar-brand {
    margin-left: 20px;
    margin-right: 20px; /* Adjust the margin as needed */
    }
  
  .navbar-nav .nav-link {
    margin-left: 20px;
    margin-right: 20px; /* Adjust the margin as needed */
    }

  .shelter{
    margin-top: 40px;
    margin-bottom: 40px;
    padding-right: 20px;
    border-radius: 15px;
    border: none;
  }
  
  .btn-serch{
    margin-top: 40px;
    font-size: 15px;
    width: 200px;
    color: #fff;
    border-radius: 30px;
    background-color: var(--acsentColor);
  }

  .form-select{
    margin-top: 40px;
    font-size: 15px;
    width: 200px;
    height: 40px;
    border-radius: 15px;
    border: none;
  }

  .card-shelter{
    transition: transform 0.3s;
    border-radius: 20px;
    margin-top: 1px;
    box-shadow:  0 10px 15px rgba(0, 0, 0, 0.1);
  }

  .card-shelter:hover {
    transform: translateY(-10px);
  }

  .card-title{
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
    color: var(--acsentColor);
  }

  .card-text{
    font-family: "Montserrat", sans-serif;
  }

  .card-btn{
    border-radius: 20px;
    width: 200px;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    background-color: var(--secondaryColor);
    color: #fff;
  }

.custom-nav{
  justify-content: center;
}
  .pagination{
    color: black;
}
.pagination .page-link {
    border: none;
    color: black; /* Warna biru untuk panah dan nomor */
}
.pagination .page-link:hover {
    color: #007bff; /* Warna biru muda pada saat hover */
}
.pagination .active .page-link {
    background-color: #00a3c4; /* Warna biru untuk halaman aktif */
    border-color: #00a3c4;
    color: white; /* Warna teks putih untuk halaman aktif */
}


  
    
  
  
    